:root{
    --Primary-color: #3498DB;
    --Secondary-color:#F39C12;
    --Accent-color:#2ECC71;
    --Neutral-color:#D5DBDB;
    --Highlight-color:#E91E63;

    --Top-level-Text:36px;
    --Mid-level-Text:26px;
    --Bottom-level-Text:16px;

}

body{
    margin: 0 auto;
    width: 98vw;
    height: auto;
}
.container{
    padding: 0;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100px 1000px;
    grid-template-areas: 
    "header nav nav nav"
    "main main main main";
}
header{
    grid-area: header;

    display: flex;
    justify-content: center;
    align-content: center;

}

header h2{
    font-size: var(--Top-level-Text);
    color:var(--Primary-color);
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 5px;
    padding-left: 5px;
}


nav{
    grid-area: nav;
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
    margin-top: 10px;
    padding-top: 10px;
}
li a{
    display: block;
    color: var(--Primary-color);
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    text-decoration: none;
}
li a:hover{
    opacity: 0.1;
    color: var(--Highlight-color);
}


main {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas:
        "one two three four five"
        "six seven eight nine ten";
        grid-gap: 5px;
}

.poster {
    overflow: hidden;
    background-color:var(--Neutral-color)
}
.poster:hover{
    overflow: auto;
}

.title{
    height: 10%;
    font-size: var(--Mid-level-Text);

}
.image{
    height: 30%;
}
.info{
    height: 50%;
    font-size: var(--Bottom-level-Text);

}

#poster1 {
    grid-area: one;
}
#poster2 {
    grid-area: two;
}
#poster3 {
    grid-area: three;   
}
#poster4 {
    grid-area: four;
}
#poster5 {
    grid-area: five;
}
#poster6 {
    grid-area: six;
}
#poster7 {
    grid-area: seven;
}
#poster8 {
    grid-area: eight;
}
#poster9 {
    grid-area: nine;
}
#poster10 {
    grid-area: ten;
}
