body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  #what-is-web {
    background-color: #fafafa;
  }
  
  #how-does-web-work {
    background-color: #f5f5f5;
  }
  
  #differences-between-web-and-internet {
    background-color: #ececec;
  }